<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189664792975-elofcded8j3o9mobjnd7h267o6tfk06m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189664792975-elofcded8j3o9mobjnd7h267o6tfk06m</string>
	<key>API_KEY</key>
	<string>AIzaSyCWusY1snVDumEkY3POApy9ZjFj32yRx8g</string>
	<key>GCM_SENDER_ID</key>
	<string>189664792975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codeduck.RecordLyric</string>
	<key>PROJECT_ID</key>
	<string>recordlyric-891c2</string>
	<key>STORAGE_BUCKET</key>
	<string>recordlyric-891c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189664792975:ios:9f935d1d71e684bc5a7bfa</string>
</dict>
</plist>